<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlzkj.app.mapper.WdbCategoriesMapper" >
  <resultMap id="BaseResultMap" type="com.zlzkj.app.model.WdbCategories" >
    <id column="CategoryId" property="categoryid" jdbcType="INTEGER" />
    <result column="CategoryDescription" property="categorydescription" jdbcType="VARCHAR" />
    <result column="FunctionId" property="functionid" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wdb_categories
    where CategoryId = #{categoryid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlzkj.app.model.WdbCategories" >
    insert into wdb_categories (CategoryId, CategoryDescription, 
      FunctionId)
    values (#{categoryid,jdbcType=INTEGER}, #{categorydescription,jdbcType=VARCHAR}, 
      #{functionid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zlzkj.app.model.WdbCategories" >
    update wdb_categories
    set CategoryDescription = #{categorydescription,jdbcType=VARCHAR},
      FunctionId = #{functionid,jdbcType=INTEGER}
    where CategoryId = #{categoryid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select CategoryId, CategoryDescription, FunctionId
    from wdb_categories
    where CategoryId = #{categoryid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select CategoryId, CategoryDescription, FunctionId
    from wdb_categories
  </select>
</mapper>