<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlzkj.app.mapper.WdbCustomersMapper" >
  <resultMap id="BaseResultMap" type="com.zlzkj.app.model.WdbCustomers" >
    <id column="CustomerId" property="customerid" jdbcType="INTEGER" />
    <result column="CustNick" property="custnick" jdbcType="VARCHAR" />
    <result column="CustName" property="custname" jdbcType="VARCHAR" />
    <result column="CustIdCard" property="custidcard" jdbcType="VARCHAR" />
    <result column="CustAddress" property="custaddress" jdbcType="VARCHAR" />
    <result column="CustPhoneNum" property="custphonenum" jdbcType="VARCHAR" />
    <result column="CustLoginPwd" property="custloginpwd" jdbcType="VARCHAR" />
    <result column="CustDealPwd" property="custdealpwd" jdbcType="VARCHAR" />
    <result column="CustParentName" property="custparentname" jdbcType="VARCHAR" />
    <result column="CustParentPhoneNum" property="custparentphonenum" jdbcType="VARCHAR" />
    <result column="CustUniversity" property="custuniversity" jdbcType="VARCHAR" />
    <result column="CustInUniversity" property="custinuniversity" jdbcType="VARCHAR" />
    <result column="CustEducation" property="custeducation" jdbcType="VARCHAR" />
    <result column="CustPocketMoney" property="custpocketmoney" jdbcType="REAL" />
    <result column="CustEmail" property="custemail" jdbcType="VARCHAR" />
    <result column="CustLevelId" property="custlevelid" jdbcType="INTEGER" />
    <result column="CustCreditRest" property="custcreditrest" jdbcType="INTEGER" />
    <result column="CustPoint" property="custpoint" jdbcType="INTEGER" />
    <result column="CustZipCode" property="custzipcode" jdbcType="VARCHAR" />
    <result column="CustSex" property="custsex" jdbcType="INTEGER" />
    <result column="CustRegDate" property="custregdate" jdbcType="TIMESTAMP" />
    <result column="CustStatus" property="custstatus" jdbcType="INTEGER" />
    <result column="RoleId" property="roleid" jdbcType="INTEGER" />
    <result column="CustHead" property="custhead" jdbcType="VARCHAR" />
    <result column="CustVedio" property="custvedio" jdbcType="BINARY" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wdb_customers
    where CustomerId = #{customerid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlzkj.app.model.WdbCustomers" >
    insert into wdb_customers (CustomerId, CustNick, CustName, 
      CustIdCard, CustAddress, CustPhoneNum, 
      CustLoginPwd, CustDealPwd, CustParentName, 
      CustParentPhoneNum, CustUniversity, CustInUniversity, 
      CustEducation, CustPocketMoney, CustEmail, 
      CustLevelId, CustCreditRest, CustPoint, 
      CustZipCode, CustSex, CustRegDate, 
      CustStatus, RoleId, CustHead, 
      CustVedio)
    values (#{customerid,jdbcType=INTEGER}, #{custnick,jdbcType=VARCHAR}, #{custname,jdbcType=VARCHAR}, 
      #{custidcard,jdbcType=VARCHAR}, #{custaddress,jdbcType=VARCHAR}, #{custphonenum,jdbcType=VARCHAR}, 
      #{custloginpwd,jdbcType=VARCHAR}, #{custdealpwd,jdbcType=VARCHAR}, #{custparentname,jdbcType=VARCHAR}, 
      #{custparentphonenum,jdbcType=VARCHAR}, #{custuniversity,jdbcType=VARCHAR}, #{custinuniversity,jdbcType=VARCHAR}, 
      #{custeducation,jdbcType=VARCHAR}, #{custpocketmoney,jdbcType=REAL}, #{custemail,jdbcType=VARCHAR}, 
      #{custlevelid,jdbcType=INTEGER}, #{custcreditrest,jdbcType=INTEGER}, #{custpoint,jdbcType=INTEGER}, 
      #{custzipcode,jdbcType=VARCHAR}, #{custsex,jdbcType=INTEGER}, #{custregdate,jdbcType=TIMESTAMP}, 
      #{custstatus,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, #{custhead,jdbcType=VARCHAR}, 
      #{custvedio,jdbcType=BINARY})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zlzkj.app.model.WdbCustomers" >
    update wdb_customers
    set CustNick = #{custnick,jdbcType=VARCHAR},
      CustName = #{custname,jdbcType=VARCHAR},
      CustIdCard = #{custidcard,jdbcType=VARCHAR},
      CustAddress = #{custaddress,jdbcType=VARCHAR},
      CustPhoneNum = #{custphonenum,jdbcType=VARCHAR},
      CustLoginPwd = #{custloginpwd,jdbcType=VARCHAR},
      CustDealPwd = #{custdealpwd,jdbcType=VARCHAR},
      CustParentName = #{custparentname,jdbcType=VARCHAR},
      CustParentPhoneNum = #{custparentphonenum,jdbcType=VARCHAR},
      CustUniversity = #{custuniversity,jdbcType=VARCHAR},
      CustInUniversity = #{custinuniversity,jdbcType=VARCHAR},
      CustEducation = #{custeducation,jdbcType=VARCHAR},
      CustPocketMoney = #{custpocketmoney,jdbcType=REAL},
      CustEmail = #{custemail,jdbcType=VARCHAR},
      CustLevelId = #{custlevelid,jdbcType=INTEGER},
      CustCreditRest = #{custcreditrest,jdbcType=INTEGER},
      CustPoint = #{custpoint,jdbcType=INTEGER},
      CustZipCode = #{custzipcode,jdbcType=VARCHAR},
      CustSex = #{custsex,jdbcType=INTEGER},
      CustRegDate = #{custregdate,jdbcType=TIMESTAMP},
      CustStatus = #{custstatus,jdbcType=INTEGER},
      RoleId = #{roleid,jdbcType=INTEGER},
      CustHead = #{custhead,jdbcType=VARCHAR},
      CustVedio = #{custvedio,jdbcType=BINARY}
    where CustomerId = #{customerid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select CustomerId, CustNick, CustName, CustIdCard, CustAddress, CustPhoneNum, CustLoginPwd, 
    CustDealPwd, CustParentName, CustParentPhoneNum, CustUniversity, CustInUniversity, 
    CustEducation, CustPocketMoney, CustEmail, CustLevelId, CustCreditRest, CustPoint, 
    CustZipCode, CustSex, CustRegDate, CustStatus, RoleId, CustHead, CustVedio
    from wdb_customers
    where CustomerId = #{customerid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select CustomerId, CustNick, CustName, CustIdCard, CustAddress, CustPhoneNum, CustLoginPwd, 
    CustDealPwd, CustParentName, CustParentPhoneNum, CustUniversity, CustInUniversity, 
    CustEducation, CustPocketMoney, CustEmail, CustLevelId, CustCreditRest, CustPoint, 
    CustZipCode, CustSex, CustRegDate, CustStatus, RoleId, CustHead, CustVedio
    from wdb_customers
  </select>
</mapper>