<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlzkj.app.mapper.WdbOrdersMapper" >
  <resultMap id="BaseResultMap" type="com.zlzkj.app.model.WdbOrders" >
    <id column="OrderNumber" property="ordernumber" jdbcType="VARCHAR" />
    <result column="OrderDate" property="orderdate" jdbcType="TIMESTAMP" />
    <result column="Times" property="times" jdbcType="INTEGER" />
    <result column="HasFirstPay" property="hasfirstpay" jdbcType="REAL" />
    <result column="Repayment" property="repayment" jdbcType="REAL" />
    <result column="CustomerId" property="customerid" jdbcType="INTEGER" />
    <result column="EmployeeId" property="employeeid" jdbcType="BIGINT" />
    <result column="ProductNumber" property="productnumber" jdbcType="INTEGER" />
    <result column="OrderStatus" property="orderstatus" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wdb_orders
    where OrderNumber = #{ordernumber,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zlzkj.app.model.WdbOrders" >
    insert into wdb_orders (OrderNumber, OrderDate, Times, 
      HasFirstPay, Repayment, CustomerId, 
      EmployeeId, ProductNumber, OrderStatus
      )
    values (#{ordernumber,jdbcType=VARCHAR}, #{orderdate,jdbcType=TIMESTAMP}, #{times,jdbcType=INTEGER}, 
      #{hasfirstpay,jdbcType=REAL}, #{repayment,jdbcType=REAL}, #{customerid,jdbcType=INTEGER}, 
      #{employeeid,jdbcType=BIGINT}, #{productnumber,jdbcType=INTEGER}, #{orderstatus,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zlzkj.app.model.WdbOrders" >
    update wdb_orders
    set OrderDate = #{orderdate,jdbcType=TIMESTAMP},
      Times = #{times,jdbcType=INTEGER},
      HasFirstPay = #{hasfirstpay,jdbcType=REAL},
      Repayment = #{repayment,jdbcType=REAL},
      CustomerId = #{customerid,jdbcType=INTEGER},
      EmployeeId = #{employeeid,jdbcType=BIGINT},
      ProductNumber = #{productnumber,jdbcType=INTEGER},
      OrderStatus = #{orderstatus,jdbcType=INTEGER}
    where OrderNumber = #{ordernumber,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select OrderNumber, OrderDate, Times, HasFirstPay, Repayment, CustomerId, EmployeeId, 
    ProductNumber, OrderStatus
    from wdb_orders
    where OrderNumber = #{ordernumber,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select OrderNumber, OrderDate, Times, HasFirstPay, Repayment, CustomerId, EmployeeId, 
    ProductNumber, OrderStatus
    from wdb_orders
  </select>
</mapper>