<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlzkj.app.mapper.WdbRolesMapper" >
  <resultMap id="BaseResultMap" type="com.zlzkj.app.model.WdbRoles" >
    <id column="RoleId" property="roleid" jdbcType="INTEGER" />
    <result column="RoleName" property="rolename" jdbcType="VARCHAR" />
    <result column="RolePwd" property="rolepwd" jdbcType="VARCHAR" />
    <result column="RoleStatus" property="rolestatus" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wdb_roles
    where RoleId = #{roleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlzkj.app.model.WdbRoles" >
    insert into wdb_roles (RoleId, RoleName, RolePwd, 
      RoleStatus)
    values (#{roleid,jdbcType=INTEGER}, #{rolename,jdbcType=VARCHAR}, #{rolepwd,jdbcType=VARCHAR}, 
      #{rolestatus,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zlzkj.app.model.WdbRoles" >
    update wdb_roles
    set RoleName = #{rolename,jdbcType=VARCHAR},
      RolePwd = #{rolepwd,jdbcType=VARCHAR},
      RoleStatus = #{rolestatus,jdbcType=INTEGER}
    where RoleId = #{roleid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select RoleId, RoleName, RolePwd, RoleStatus
    from wdb_roles
    where RoleId = #{roleid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select RoleId, RoleName, RolePwd, RoleStatus
    from wdb_roles
  </select>
</mapper>