<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlzkj.app.mapper.WdbStagesMapper" >
  <resultMap id="BaseResultMap" type="com.zlzkj.app.model.WdbStages" >
    <result column="OrderNumber" property="ordernumber" jdbcType="VARCHAR" />
    <result column="Time" property="time" jdbcType="INTEGER" />
    <result column="BeginDate" property="begindate" jdbcType="DATE" />
    <result column="EndDate" property="enddate" jdbcType="DATE" />
    <result column="PayDate" property="paydate" jdbcType="TIMESTAMP" />
    <result column="RepayStatus" property="repaystatus" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="REAL" />
  </resultMap>
  <insert id="insert" parameterType="com.zlzkj.app.model.WdbStages" >
    insert into wdb_stages (OrderNumber, Time, BeginDate, 
      EndDate, PayDate, RepayStatus, 
      money)
    values (#{ordernumber,jdbcType=VARCHAR}, #{time,jdbcType=INTEGER}, #{begindate,jdbcType=DATE}, 
      #{enddate,jdbcType=DATE}, #{paydate,jdbcType=TIMESTAMP}, #{repaystatus,jdbcType=INTEGER}, 
      #{money,jdbcType=REAL})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select OrderNumber, Time, BeginDate, EndDate, PayDate, RepayStatus, money
    from wdb_stages
  </select>
</mapper>